<!DOCTYPE html>
<html lang="en">
  <!--heading-->
  <%- include('layouts/heading'); -%>
  <body>
    <!--Navbar-->
    <%- include('layouts/nav', {userType:userType}); -%>

    <div class="heading">
      <h3>Welcome To Homepage</h3>
    </div>
    <div class="heading_2">
      <h5>You can Book G2/G drive Test from this Kiosk</h5>
    </div>
  </body>
</html>
