<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <%- include('layouts/login_head'); -%>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <body>
    <!--Navbar-->
    <%- include('layouts/nav', {userType:userType}); -%>

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/posts/User" method="POST">
          <h3>Create Account</h3>
          <input type="text" id="username" placeholder="username" class="form-control" name="username" required/>
          <input type="password" id="password" placeholder="Password" class="form-control"  name="password" required/>
          <input type="password"  id="Re-password" placeholder="Re-Password" class="form-control" name="Re_Password" required/>
            <select id="userType" class="form-control" name="userType" required>
              <option value="Driver">Driver</option>
              <option value="Examiner">Examiner</option>
              <option value="Admin">Admin</option>
            </select>
            <p id="result"></p>
            
          <button onclick="comparePasswords()">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/posts/loginUser" method="post">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="text" placeholder="username" name="username"  required/>
          <input type="password" placeholder="password" name="password" required />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Book DriveTest</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('layouts/script'); -%>
  </body>
</html>
