.input {
	display: inline-block;
	padding: 10px;
	width: 40%;
}

h5 {
	margin-top: 20px;
	margin-bottom: 0px;
}

.detail {
	padding: 10px;
	margin: 5px;
	width: 50%;
}

.btn {
	padding-top: 10px;
}

.select {
	padding-top: 10px;
}

#submit {
	border-radius: 20px;
	border: none;
	background-color: #208fff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#submit:hover {
	background-color: rgb(10, 241, 60);
	color: white;
	cursor: pointer;
}

input {
	background-color: #eee;
	border: none;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


